# Ignorar arquivos e pastas específicos
*.log
*.tmp

# Ignorar arquivos de sistema
.DS_Store
Thumbs.db

# Ignorar diretórios e arquivos de IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Ignorar arquivos e pastas temporárias de desenvolvimento
node_modules/
dist/
build/
